---
import Position from "./Position.astro"
import data from "/Miguel_Fuertes_CV.yaml"

const experiences = data["cv"]["sections"]["experience"];
---
<div class="pl-6 pr-6">
	<div class="mt-4 block max-w p-6 border rounded-lg shadow bg-gray-800 border-gray-700">
		<section class="p-4">
			<ol class=" pb-10 relative border-l border-gray-700">
				{
					experiences.map(({company, position, summary,  highlights, stack, start_date, end_date})=>(
						<li class="mb-10 ml-6">
							<Position
								latest={company === experiences[0].company}
								company={company}
								position={position}
								logo={`/images/logos/${company.toLowerCase().replaceAll(" ", "_")}.png`}
								highlights={highlights}
								stack={stack}
								start_date={start_date}
								end_date={end_date}
								summary={summary}
							/>
						</li>
					))
				}
			</ol>
		</section>
	</div>
</div>