---
const {
    company,
    logo,
    position,
    highlights,
    summary,
    stack,
    start_date,
    end_date,
    latest,
} = Astro.props;


function formatYearMonth(dateString) {
    const [year, month] = dateString.split('-');
    const date = new Date(year, parseInt(month) - 1);
    
    return date.toLocaleDateString('en-US', { 
        month: 'short', 
        year: 'numeric' 
    });
}
---

<span
    class="absolute mt-4 flex items-center justify-center w-6 h-6 rounded-full -left-3 ring-8 ring-gray-900 bg-gray-900"
>
    <img src={logo} />
</span>
<h3 class="flex items-center mb-1 text-2xl font-semibold text-white">
    {company}
    {
        latest && (
            <span class="text-sm font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300 ml-3">
                Latest
            </span>
        )
    }
</h3>
<h4 class="flex items-center mb-1 text-md font-semibold text-white">
    {position}
</h4>
<time class="block mb-2 text-sm font-normal leading-none text-gray-500"
    >{formatYearMonth(start_date)} - {formatYearMonth(end_date)}</time
>
<p class="mb-4">{summary}</p>
<ul class="mb-4 pe-4 text-sm font-normal text-gray-400 list-inside list-disc">
    {
        highlights.map((e) => (
            <li class="mb-1">{e}</li>
        ))
    }
</ul>

<p>
    {
        stack.map((e) => (
            <span class="inline-block mb-2 text-xs font-medium mr-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300">
                {e}
            </span>
        ))
    }
</p>
