---
import BlogDate from "../components/BlogDate.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    const gists = await getCollection("gists");

    return [...posts, ...gists].map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
---

<Layout title={post.data.title}>
    <div class="max-w-3xl">
        <div class="flex gap-4 items-center mb-4">
            <BlogDate dateString={post.data.date} />
            <div class="flex-1">
                <h1 class="text-4xl font-bold text-right">{post.data.title}</h1>
                <h3 class="text-lg text-right text-gray-400">
                    {post.data.description}
                </h3>
            </div>
        </div>
        <hr class="mb-8 -mt-2 text-white/20" />
        <div
            class="prose-invert prose max-w-3xl"
            set:html={post.rendered?.html}
        />
    </div>
</Layout>
