---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
const gists = await getCollection("gists");

console.log(gists);

function formatDate(date: Date) {
    return date.toLocaleDateString("en-US", {
        month: "long",
        day: "2-digit",
    });
}

const postsByYear = [...posts, ...gists].reduce((groups, post) => {
    const year = post.data.date.getFullYear();

    if (!groups[year]) {
        groups[year] = [];
    }

    groups[year].push(post);
    return groups;
}, {});
---

<Layout title="Blog">
    <div class="max-w-3xl px-4 py-8">
        <div class="flex gap-4">
            <h1 class="text-3xl font-bold mb-4">Posts</h1>
            <p class="mb-2 text-white/50 text-sm text-right flex-1 italic">
                ... a collection of code experiments, quick hacks, and project
                highlights<br />
                Some ideas live here as snippets, others graduate to full GitHub repositories...
            </p>
        </div>
        {
            Object.entries(postsByYear)
                .sort((a, b) => Number(b[0]) - Number(a[0]))
                .map(([year, posts]) => (
                    <section>
                        <h2 class="text-2xl font-bold mb-4 flex items-center">
                            <div class="flex-1 border-t-2 border-gray-300/50" />
                            <span class="pl-4">{year}</span>
                        </h2>
                        <ul>
                            {(posts as any)
                                .sort((a, b) => b.data.date - a.data.date)
                                .map((post) => (
                                    <li class="pb-4">
                                        <a
                                            href={`/${post.id}`}
                                            class="text-xl font-semibold"
                                        >
                                            {post.data.title}
                                        </a>
                                        <p class="text-gray-600 text-sm mt-1">
                                            <b class="text-white/60">
                                                {formatDate(post.data.date)}
                                            </b>{" "}
                                            -{" "}
                                            <i>
                                                {post.collection === "gists" ? (
                                                    <a
                                                        href={post.data.url}
                                                        class="text-blue-400 hover:text-blue-300 transition-colors"
                                                    >
                                                        {post.data.url}
                                                    </a>
                                                ) : (
                                                    post.data.description
                                                )}
                                            </i>
                                        </p>
                                    </li>
                                ))}
                        </ul>
                    </section>
                ))
        }
    </div>
</Layout>
